[Unit]
Description=Next.js App
After=network.target

[Service]
Type=simple
User=solo
WorkingDirectory=/home/solo/getreplay-front

# Важно: слушать только localhost, иначе снова будет RCE и атаки
ExecStart=/usr/bin/npm run start -- -p 3000 -H ::1

Environment=NODE_ENV=production
Environment=NEXT_PRIVATE_ORIGIN=http://[::1]:3000

# Логи в /var/log
StandardOutput=append:/var/log/nextjs.log
StandardError=append:/var/log/nextjs.log

# Автоперезапуск
Restart=always
RestartSec=3

# Безопасные ограничения
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=false
PrivateTmp=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
LockPersonality=true

[Install]
WantedBy=multi-user.target
